h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: italic;
}

/* background image styling  */
body {
  background-image: url('../images/pexels-padrinan-19670.jpg'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}

/* General styling for the footer */
.footer {
  background-color: #adacac; 
  color: white; 
  padding: 10px 0; 
  width: 100%;
}

/* Center the social icons */
.social-icons {
  display: flex;
  justify-content: center; 
  align-items: center;
}

/* Style for individual social icons */
.social-icons a {
  margin: 0 20px; /* Space between icons */
  color: white; 
  font-size: 30px; 
  transition: color 0.3s ease;
}

/* Scale effect on hover */
.social-icons a:hover,
.social-icons a:focus {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.social-icons a:hover {
  color: #007bff; 
}

/* Callout styling for the header */
.callout {
  background-color: #f8f9fa; 
  padding: 20px;
}

/* Flex styling to center the main content */
.flex-fill {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for top left vertical navigation */
.vertical-nav {
  position: fixed; 
  top: 1%; 
  left: 5; 
  background-color: #333; 
  padding: 20px; 
}

.vertical-nav ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.vertical-nav li {
  margin-bottom: 20px; 
}

.vertical-nav a {
  color: white; 
  text-decoration: none; 
  font-size: 16px; 
}

.vertical-nav a:hover {
  text-decoration: underline; 
}


/* Styles for Useful links nav bar */

.container {
  display: flex; 
  justify-content: space-between; 
  padding: 20px;
}

/* Text container styles */
.text-container {
  flex: 1; /* Allow this section to take available space ?? */
  margin-right: 10px; 
}

/* Link container styles */
.link-container {
  position: fixed;
  top: 0px;
  right: 20px;
  width: 250px; /
  background-color: #f8f9fa; 
  padding: 15px; 
  border: 1px solid #ccc; 
}

/* Styles for the list */
.link-container ul {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

/* Styles for individual links */
.link-container li {
  margin-bottom: 10px; /* Space between links */
}

.link-container a {
  color: #007bff; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.link-container a:hover {
  color: #0056b3; 
  text-decoration: underline; 
}

/* Add some margin to the right for the link container */
.link-container {
  margin-left: auto; 
}


/* logo of self help sites  */
.logo-img {
  width: 150px; 
  height: auto; 
  display:block;
  margin: 0 auto 15px auto;
}

.logo2-img {
  width: 150px; 
  height: auto; 
  display:block;
  margin: 0 auto 15px auto;
}

.disclaimer {
  font-size: small;
  color: #333; /* Text color */
  border-top: 1px solid #ccc;
}